.head {
    color: rgb(15, 204, 204);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    background-color: antiquewhite;
    
}
.pap {
    font-family: 'Times New Roman', Times, serif;
    color: chartreuse;
    background-color: red;
    font-size: 35px;
}
.bat {
    background-color: rgb(240, 248, 255);
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 30px;

color: #000000;
}